<h1>Создание статьи</h1>

<a href="/articles">Все статьи</a>
<br>
<br>
<div class="m-3 col-mb-6">
  <form action="" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="inputName" class="form-label">Заголовок статьи</label> 
      <input type="text" class="form-control" name="name" id="inputName">      
    </div>
    <div class="mb-3">
      <label class="form-label" for="inputText">Текст статьи</label>
      <textarea class="form-control" name="text" id="inputText"></textarea>    
    </div>  
    <div class="mb-3">
      <label class="form-label" for="inputImg">Изображение</label>
      <input type="file" class="form-control" name="img" id="inputImg">      
    </div>  
    <input type="submit" class="btn btn-primary" value="Обновить">
  </form>
</div>

